@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.image {
  flex: 0 0 40%; /* Imagen ocupa el 40% */
  max-width: 40%; /* Ajustar tamaño de la imagen */
  padding: 40px;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.content {
  flex: 0 0 60%; /* Contenedor de texto ocupa el 60% */
  padding-left: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center; /* Centrar el título */
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center; /* Centrar el texto */
}

.socials {
  display: flex;
  justify-content: center; /* Centrar los iconos */
  gap: 20px; /* Aumentar el espacio entre los iconos */
}

.socials span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.socials span:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.socials .icon {
  color: white;
  font-size: 1.5rem; /* Ajustar el tamaño de los iconos */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }

  .image {
    padding-right: 0;
    margin-bottom: 20px;
    max-width: 80%; /* Ajustar tamaño de la imagen en pantallas pequeñas */
  }

  .content {
    padding-left: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .socials {
    gap: 15px; /* Ajustar el espacio entre los iconos en pantallas pequeñas */
  }

  .socials span {
    width: 40px;
    height: 40px;
  }

  .socials .icon {
    font-size: 1.2rem; /* Ajustar el tamaño de los iconos en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }

  .image {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .content {
    padding: 0;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .socials {
    gap: 10px;
  }

  .socials span {
    width: 35px;
    height: 35px;
  }

  .socials .icon {
    font-size: 1rem;
  }
}
